mixin product-block(cellData)
    .b-cell(class=['b-cell_width_'+cellData.width, 'b-cell_height_'+cellData.height,
        'b-cell_float_'+cellData.float, 'b-cell_neg-margin_'+cellData.negmargin])

        .b-cell-cover
            img.b-cell-cover__image(src=cellData.cover__image.src)
            .b-cell-cover-details
                each product in cellData.product
                    .b-cell-cover-details-text(class='b-cell-cover-details-text_align_'+product.detailsalign)
                        .b-cell-cover-details-text__title= product.title
                        span.b-cell-cover-details-text__price= product.price
                        if product.oldprice
                            span.b-cell-cover-details-text__price_old= product.oldprice

        .b-cell-rollover(class='b-cell-rollover_sibling_'+cellData.sibling)
            each product in cellData.product
                .b-cell-rollover-item(class='b-cell-rollover-item_big_'+cellData.big)
                    img.b-cell-rollover-item__image(src=product.rollover__image)
                    if product.oldprice
                        .b-cell-rollover-item__price= 'REG'+product.oldprice
                        .b-cell-rollover-item__price(class='b-cell-rollover-item__price_sale')
                            span= 'SALE:'
                            br
                            span= product.price
                    else
                        .b-cell-rollover-item__price= 'REG'+product.price
                    .b-cell-rollover-item__title= product.title
                    a.b-cell-rollover-item-button
                        span='Add To Cart'
                        .b-arrow= '>'
                    a.b-cell-rollover-item__more= 'SEE MORE'