{{#if nothing_found}}

    <p> ain't no stuff here </p>

{{else}}


    <li class="product-item">
        {{#if sale}}<div class="product-item_on-sale">on sale</div>{{/if}}
        {{#unless available}}<div class="product-item_out-of-stock">out of stock</div>{{/unless}}
        <div class="action-buttons__outer">
            <ul class="action-buttons">
                <li class="action-buttons__item action-buttons__item_view"></li>
                <li class="action-buttons__item action-buttons__item_wishlist"></li>
                <li class="action-buttons__item action-buttons__item_share"></li>
                <li class="action-buttons__item action-buttons__item_buy"></li>
            </ul>
        </div>
        <img src="{{image}}" alt="{{name}}" class="product-item__image"/>
        <div class="product-item-info">
            <div class="product-item-info__price">{{price}}</div>
            <div class="product-item-info__name">{{name}}</div>
        </div>
    </li>


{{/if}}
